#p_title_1, #p_title_2, #p_title_3, #p_title_4 {
    line-height: normal;
}

body {
    background-color: #FFFF ;
    background-image: url('./img/background-blob.svg');
    background-repeat: no-repeat;
    background-position-y: -30rem;
}

#cta {
    background-image: url('./img/cta-background-blob.svg');
    background-repeat: no-repeat;
    background-position-y: -25rem;
    background-position-x: 5rem;
    transition: 0.25s;
}

#cta:hover {
    background-position-y: -27rem;
    background-position-x: 6rem;
    transform: scale(1.01);
    transition: 0.25s;
}

.why-us-card {
    transition: 0.25s;
}

.why-us-card:hover {
    transform: translateY(-6px);
    transition: 0.25s;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;

}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
}

#map {
    height: 340px;
}

/* Hamburger Menu */

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}


.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 3px;
    background-color: #1B1549;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}
.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

#connect {
    background-image: url(./img/connect-blobs.svg);

    background-position-x: 110%;
    background-size: 50%;
    background-repeat: no-repeat;
}

#explore {
    background-image: url('./img/explore.svg');
    background-position-y: center;
    background-position-x: 10%;
    background-size: 40%;
    background-repeat: no-repeat;
}

#compare {
    background-image: url('./img/compare.svg') ;
    
    background-position-y: center;
    background-position-x: 10%;
    background-size: 40%;
    background-repeat: no-repeat;
}


#buy {
    background-image: url('./img/buy.svg');
    background-position-y: 22%;
    background-position-x: 60%;
    background-size: 50%;
    background-repeat: no-repeat;
}

@media (min-width: 1279px) {
    #buy {
    background-image: url('./img/buy.svg');
    background-position-y: 10%;
    background-position-x: 75%;
    background-size: 40%;
    background-repeat: no-repeat;
}
}

@media (min-width: 1350px) {
    #buy {
    background-image: url('./img/buy.svg');
    background-position-y: -10%;
    background-position-x: 80%;
    background-size: 44%;
    background-repeat: no-repeat;
}
}

@media (min-width: 1530px) {
    #buy {
    background-image: url('./img/buy.svg');
    background-position-y: -5%;
    background-position-x: 80%;
    background-size: 36%;
    background-repeat: no-repeat;
}
}

@media (max-width: 766px) {
    #buy {
    background-image: url('./img/buy.svg');
    background-position-y: 5%;
    background-position-x: 80%;
    background-size: 40%;
    background-repeat: no-repeat;
}

    #connect {
        background-image: url(./img/connect-blobs.svg);

        background-position-x: 130%;
        background-size: 40%;
        background-repeat: no-repeat;
    }

}

@media (max-width: 420px) {
    #buy {
    background-image: url('./img/buy.svg');
    background-position-y: 15%;
    background-position-x: 80%;
    background-size: 50%;
    background-repeat: no-repeat;
}

#compare {
    background-image: url('./img/compare.svg') ;
    
    background-position-y: center;
    background-position-x: 3%;
    background-size: 40%;
    background-repeat: no-repeat;
}


}