body {
    background: #f0feff;
    background: linear-gradient(90deg,rgba(240, 254, 255, 1) 0%, rgba(233, 244, 245, 1) 100%);
    
}
.header {
    height: 9vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    display: flex;
    justify-content: center;
    
    
}

.container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-content: start;

    height: 89vh;
}

.listings {
    display: grid;
    gap: 25px;
    margin-left: 2rem;
    margin-right: 2rem;

    grid-template-columns: repeat(2, minmax(25rem, 30rem));
    grid-template-rows: repeat(2, minmax(23rem, 30rem));

    max-width: 1100px;
    padding: 1rem;
}

@media (max-width: 500px){
    .listings {
        display: grid;
        gap: 25px;
        margin-left: 2rem;
        margin-right: 2rem;
    
        grid-template-columns: repeat(1, minmax(12rem, 30rem));
        grid-template-rows: repeat(4, minmax(12rem, 30rem));
    
        max-width: 1100px;
        padding: 1rem;
    }
}

@media (max-width: 1100px){
    .listings {
        display: grid;
        gap: 25px;
        margin-left: 2rem;
        margin-right: 2rem;
    
        grid-template-columns: repeat(1, minmax(25rem, 30rem));
        grid-template-rows: repeat(4, minmax(20rem, 30rem));
    
        max-width: 1100px;
        padding: 1rem;
    }
}

@media (min-height: 1400px) {
    .listings {
        display: grid;
        gap: 25px;
        margin-left: 2rem;
        margin-right: 2rem;
    
        grid-template-columns: repeat(2, minmax(25rem, 30rem));
        grid-template-rows: repeat(2, minmax(23rem, 30rem));
    
        max-width: 1100px;
        padding: 1rem;
    }
}

.item {
    border-radius: 9px;
    background-color: rgb(215, 215, 215);
}

.item > img {
    width: 100%;
    height: auto;
}

.item > h3, p {
    margin-left: 1rem;
}

.information {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 3rem;

    max-width: 1100px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;

}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 11px;
    border: none;
    border-radius: 13px;

    background-color: rgb(72, 176, 169);
    color: white;

    font-size: medium;
    transition: 0.3s;

    
}

button:hover {
    filter: drop-shadow(0px 0px 5px #a3a3a3);
}

a {
    cursor: default;
}


/* Item HTML */
.item-body {
    display: flex;
    align-content: center;
    justify-content: center;

}

.item-container {
    margin-top: 2%;
    height: 85vh;
    width: 80%;
    background-color: rgb(215, 215, 215);
    border-radius: 15px;

    display: grid;
    grid-template-columns: 60% 40%;
}

.item-info {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(5, minmax(10%, 20%));
    grid-template-rows: repeat(6, minmax(10%, 20%));

    gap: 5px;
}

.item-info > :nth-child(1) {
    border: solid;
    grid-row: 1 / 2;
    grid-column: 1 / 6;
}

.item-info > :nth-child(2) {
    border: solid;
    grid-row: 2 / 3;
    grid-column: 1 / 4;

}

.item-info > :nth-child(3) {
    border: solid;
    grid-row: 2 / 3;
    grid-column: 4 / -1;
}


.item-info > :nth-child(4) {
    border: solid;
    grid-row: 3 / 6;
    grid-column: 1 / -1;
}

.item-info > :nth-child(5) {
    border: solid;
    grid-row: 6 / 7;
    grid-column: 1 / -1;
}



#item-thumbnail {
    width: 100%;
    height: auto;
}

/* ########################################### */
/* ########################################### */
/* ######### PROPERTY CONTAINER HTML ######### */
/* ########################################### */
/* ########################################### */

/* ------------------------ PROPERTY IMG & CONTAINER ------------------------ */
.property-container {
    filter: drop-shadow(-3px 1px 10px #8f8f8f);

    height: 100%;
    width: 100%;
    overflow: hidden;

    border-radius: 20px;
    margin-bottom: 10rem;

    position: relative;

    display: flex;
    align-content: space-between;
}

.property-image {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 1s;

    transform: scale(1.03);
    transition: transform 0.7s ease;

    z-index: -1;
}

.property-image img {
    width: auto;
    height: 100%;
}

.property-container:hover .property-image {
    transform: scale(1);
}

/* ------------------------ PROPERTY INFORMATION CONTAINER ------------------------ */
.property-information-container {
    width: 100%;
    height: 97%;

    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: end;

    
}

.property-information {
    background-color:rgba(233, 233, 233, 0.937);
    width: 90%;
    height: 25%;

    border-radius: 15px;
    z-index: 2;


    display: grid;
    grid-template-rows: repeat(3, minmax(1rem, 5rem));
}

.property-information > :nth-child(1) {
    grid-row: 1 / 3;
    grid-column: 1 / -1;
}

.property-information > :nth-child(2) {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
}

/* ------------------------ PROPERTY INFORMATION HEADER ------------------------ */
.property-information-header {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(2, minmax(1rem, 3rem));

    padding: 5px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 6px;
}

.property-information-header > :nth-child(1) { /* Title */
    grid-row: 1 / 2;
    grid-column: 1 / 3;

    display: flex;

    font-size: large;
    padding-left: 1rem;
    padding-top: 5px;
}

.property-information-header > :nth-child(2) { /* Location */
    grid-row: 2 / 3;
    grid-column: 1 / 3;

    display: flex;
    justify-content: start;
    align-items: center;
    color: #939393;
}

.property-state {
    margin-left: 4px;
}

.property-information-header > :nth-child(3) { /* Button */
    grid-row: 1 / -1;
    grid-column: 3 / 4;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    padding-top: 2px;

}

/* PROPERTY INFORMATION FOOTER */
.property-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4px;
    margin-right: 8px;

    padding-bottom: 15px;
}

.property-price {
    font-size: larger;
    font-weight: bold;

    
}

.property-year {
    color: #ababab;
}

.property-details-button-a {
    height: 80%;
}