.header {
    height: 9vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    display: flex;
    justify-content: center;
    
    
}

.container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-content: start;

    height: 89vh;
}

.listings {
    display: grid;
    gap: 25px;
    margin-left: 2rem;
    margin-right: 2rem;

    grid-template-columns: repeat(2, minmax(25rem, 65rem));

    padding: 1rem;
    border-style: solid;
    border-width: 4px;
    border-radius: 5px;
    border-color: black;
}

.item {
    border-style: solid;
    border-color: rgb(56, 155, 209);
    border-width: 2px;
    border-radius: 9px;
    background-color: rgb(215, 215, 215);
}

.item > img {
    width: 100%;
    height: auto;
}

.item > h3, p {
    margin-left: 1rem;
}